@page "/listProduct"
@using OnlineStore.Web.Pages.Product
@using OnlineStore.Web.ViewModels
@using System.Text.Json
<PageTitle>List Product</PageTitle>
<div class="container">
    <div class="header">
        <h1>Add new item</h1>
        <a href="/addproduct" class="btn btn-danger">Add</a>
    </div>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Created Date
                </th>
                <th scope="col">
                    Updated Date
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in @products)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @ShowDate(item.CreatedDate)
                    </td>
                    <td>
                        @ShowDate(item.UpdatedDate)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary pr-2">Update</button>
                        <button type="button" class="btn btn-secondary">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    protected async override Task OnInitializedAsync()
    {
        if (_apiService is not null)
        {
            var data = await
            _apiService.GetAsync<ResponseListViewModel<ProductViewModel>>("api/product/getallproduct?pageSize=50&pageNumber=1");
            products = data.Response;
        }
    }

    private string ShowDate(DateOnly? date)
    {
        if (!date.HasValue || date == DateOnly.MinValue)
            return string.Empty;
        return date.Value.ToString();
    }
}