@page "/listproduct"
@using OnlineStore.Web.Pages.Product
@using OnlineStore.Web.ViewModels
@using System.Text.Json
<PageTitle>List Product</PageTitle>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Description
            </th>
            <th scope="col">
                Created Date
            </th>
            <th scope="col">
                Updated Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @products)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.CreatedDate
                </td>
                <td>
                    @item.UpdatedDate
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    protected async override Task OnInitializedAsync()
    {
        products = await _httpClient.GetAsync("getallproduct");
    }
}